<section class="action container">
    <p class="display-4 wow flipInX" data-wow-delay="300ms">МЫ ДАРИМ до <span class="text-red">5% доп. скидки</span></p>
    <p class="display-4 wow flipInX" data-wow-delay="300ms">при заказе огнестойкого кабеля</p>
    <p class="wow flipInX" data-wow-delay="400ms">При заказе огнестойкого кабеля до 30.05.2018 с промокодом «Енерго-Молл» 
    предоставляется дополнительная скидка до 5 %</p>
    <div class="row no-gutters justify-content-center wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1.5s">
        <div class="col-md-auto d-none d-md-block">
            <img src="img/action.png" alt="">
        </div>
        <div class="col-12 col-md-auto">
            <form class="header-form text-center col-auto">
                <div class="form-group font-light">
                    <p class="title">подробнее об акции</p>
                    <p>Хотите узнать о дополнительной скидке? Cпециалист свяжется с Вами в течении <span>3 минут</span></p>
                    <input class="form-control" type="text" name="user-name" placeholder="Ваше имя">
                    <input class="form-control" type="tel" name="user-tel" placeholder="Ваш телефон">
                    <button class="btn btn-block text-white" type="submit">Связаться со мной</button>
                </div>
            </form>
        </div>
    </div>
    <p class="text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay="600ms"><img class="img-fluid" alt="" src="img/divider.png"></p>
</section>