<section class="partner client container">
    <p class="display-4 wow flipInX" data-wow-delay="300ms">В числе наших клиентов</p>
    <div class="row justify-content-center no-gutters wow" >
        <div class="col-12 col-sm-4 col-md-2 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/client-1.png" alt="">
        </div>
        <div class="col-12 col-sm-4 col-md-2 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/client-2.png" alt="">
        </div>
        <div class="col-12 col-sm-4 col-md-2 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/client-3.png" alt="">
        </div>
        <div class="col-12 col-sm-4 col-md-2 wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/client-4.png" alt="">
        </div>
        <div class="col-12 col-sm-4 col-md-2 wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/client-5.png" alt="">
        </div>
        <div class="col-12 col-sm-4 col-md-2 wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/client-6.png" alt="">
        </div>
    </div>
</section>