<footer>
    <section class="footer-wrapp container-fluid text-white">
        <p class="display-4 text-center wow flipInX" data-wow-delay="300ms">Контакты для связи</p>
        <p class="text-center wow fadeInDown" data-wow-delay="200ms">Позвоните нам, чтобы уточнить свою скидку, уточнить наличие и получить консультацию.</p>
        <p class=" text-center wow fadeInDown" data-wow-delay="200ms">Будем рады сотрудничеству!</p>
        <div class="row no-gutters justify-content-end">
            <div class="col-12 col-md-auto tel wow fadeInLeft" data-wow-delay="200ms">
                <p class="font-light">ОТДЕЛ ПРОДАЖ</p>
                <p>067 - 325 - 31 - 41</p>
            </div>
            <div class="col-12 col-md-auto  wow fadeInRight" data-wow-delay="200ms">
                <p class="mail"><a href="mailto:order.energomall@gmail.com">order.energomall@gmail.com</a></p>
                <p class="link"><a href="http://energomall.com.ua/" target="blank">energomall.com.ua</a></p>
            </div>
        </div>
        <div class="text-center  wow fadeInUp" data-wow-delay="200ms">
            <img class="img-fluid" src="img/logo-2.png" alt="">
        </div>
    </section>
</footer>