<section class="gallery">
    <div class="container-fluid">
        <p class="display-4 wow flipInX" data-wow-delay="300ms">Фото крупнейших</p>
        <p class="display-4 wow flipInX" data-wow-delay="300ms">реализованных объектов</p>
        <p class="wow flipInX" data-wow-delay="400ms">Примеры объектов, построенных при нашей поддержке</p>
        <div class="row no-gutters">
            <div class="col-12 col-md-5">
                <div class="row no-gutters">
                    <div class="col-12 col-sm-6">
                        <div class="row wow zoomIn" data-wow-delay="200ms" data-wow-duration="1.5s">
                            <div class="col-12"><img class="p-l-0" height="168px" src="img/gall-1.png" alt="" data-order="8"></div>
                        </div>
                        <div class="row wow zoomIn" data-wow-delay="200ms" data-wow-duration="1.5s">
                            <div class="col-12"><img class="p-l-0" height="489px" src="img/gall-2.png" alt="" data-order="5"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="row wow zoomIn" data-wow-delay="200ms" data-wow-duration="1.5s">
                            <div class="col-12"><img height="411px" src="img/gall-3.png" alt="" data-order="2"></div>
                        </div>
                        <div class="row wow zoomIn" data-wow-delay="200ms" data-wow-duration="1.5s">
                            <div class="col-12"><img height="246px" src="img/gall-4.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="row no-gutters">
                    <div class="col-12 col-sm-6 wow zoomIn" data-wow-delay="200ms" data-wow-duration="1.5s">
                        <div><img height="162px" src="img/gall-5.png" alt="" data-order="9"></div>
                    </div>
                    <div class="col-12 col-sm-6 wow zoomIn" data-wow-delay="200ms" data-wow-duration="1.5s">
                        <div><img class="p-r-0" height="162px" src="img/gall-6.png" alt=""></div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12 col-sm-6 wow zoomIn" data-wow-delay="200ms" data-wow-duration="1.5s">
                        <div><img height="158px" src="img/gall-7.png" alt="" data-order="3"></div>
                    </div>
                    <div class="col-12 col-sm-6 wow zoomIn" data-wow-delay="200ms" data-wow-duration="1.5s">
                        <div><img class="p-r-0" height="158px" src="img/gall-8.png" alt="" data-order="7"></div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12 wow zoomIn" data-wow-delay="200ms" data-wow-duration="1.5s">
                        <img class="p-r-0" height="337px" src="img/gall-9.png" alt="" data-order="1">
                    </div>
                </div>
            </div>
        </div>
        <p class="wow flipInX" data-wow-delay="200ms" data-wow-duration="1.5s">Посчитать стоимость электрики моего объекта</p>
        <div class="row justify-content-center no-gutters wow zoomIn" data-wow-delay="200ms" data-wow-duration="1.5s">
            <form class="header-form text-center col-auto" action="send.php" method="post">
                <div class="form-group font-light">
                    <textarea class="form-control" name="mess" placeholder="Напишите свою заявку здесь..."></textarea>
                    <label class="warning"><input class="form-control" type="tel" name="tel" placeholder="Ваш телефон" required></label>
                    <button class="btn btn-block text-white" type="submit">Узнать цены</button>
                </div>
            </form>
        </div>
</div>
</section>