<section class="how_work container">
    <p class="display-4 text-center wow flipInX" data-wow-delay="300ms">Как мы работаем</p>
    <div class="row sm-text-center">
        <div class="col-12 col-md-6 wow zoomIn" data-wow-delay="200ms" data-wow-duration="1s">
            <div>
                <div><img class="m-b-45" src="img/notepad.png" alt=""></div>
                <div class="step-caption">
                    <p>Вы сообщаете свою потребность
                        (по телефону или сбрасываете на 
                        <a class="text-red" href="mailto:order.energomall@gmail.com">order.energomall@gmail.com</a>)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center order-md-2 justify-content-md-end wow zoomIn" data-wow-delay="400ms" data-wow-duration="1.2s">
                <div>
                    <div class="sm-text-center"><img src="img/receipt.png" alt=""></div>
                    <div class="step-caption">
                        <p>Мы оперативно формируем для вас предложение</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 wow zoomIn order-md-1" data-wow-delay="600ms" data-wow-duration="1.4s">
                <div>
                    <div><img src="img/checked.png" alt=""></div>
                    <div class="step-caption">
                        <p>Если вы принимаете решение
                            в нашу пользу, то связываемся
                        для уточнения деталей поставки</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center order-md-3 justify-content-md-end wow zoomIn" data-wow-delay="800ms" data-wow-duration="1.6s">
                <div>
                    <div class="sm-text-center"><img src="img/icon.png" alt=""></div>
                    <div class="step-caption">
                        <p>Выполняем взаимные обязательства.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="title-red text-center font-light wow fadeInUp" data-wow-delay="200ms">В результате <span class="d-none d-md-inline font-light">работы с нами</span></p>
                <ul class="center-block list-unstyled">
                    <li class="wow fadeInUp" data-wow-delay="400ms"><span>1</span>Сокращение затрат на материалы до 20%</li>
                    <li class="wow fadeInUp" data-wow-delay="600ms"><span>2</span>Сокращение трудозатрат на закупку до 2ч./день</li>
                    <li class="wow fadeInUp" data-wow-delay="800ms"><span>3</span>Надежный поставщик в вашем портфеле</li>
                </ul>
            </div>
        </div>
        <p class="text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay="400ms"><img class="img-fluid" alt="" src="img/divider.png"></p>
    </section>