<section class="partner container">
    <p class="display-4 wow flipInX" data-wow-delay="300ms">В числе наших партнеров</p>
    <div class="row justify-content-center no-gutters">
        <div class="col-12 col-sm-4 col-md-2 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/partner-1.png" alt="">
        </div>
        <div class="col-12 col-sm-4 col-md-2 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/partner-2.png" alt="">
        </div>
        <div class="col-12 col-sm-4 col-md-2 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/partner-3.png" alt="">
        </div>
        <div class="col-12 col-sm-4 col-md-2 wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/partner-4.png" alt="">
        </div>
        <div class="col-12 col-sm-4 col-md-2 wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/partner-5.png" alt="">
        </div>
        <div class="col-12 col-sm-4 col-md-2 wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1.5s">
            <img class="img-fluid" src="img/partner-6.png" alt="">
        </div>
    </div>
    <p class="text-center wow fadeInUp" data-wow-duration="2s"><img class="img-fluid" src="img/divider.png" alt=""></p>
</section>