<section class="popular container-fluid sm-text-center">
    <p class="display-4 text-center font-light wow flipInX" data-wow-delay="300ms">10 Наиболее популярных позиций</p>
    <div class="row justify-content-center no-gutters wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1.5s">
        <div class="col-12 col-sm-6 col-md-auto sm-text-right">
            <div class="img-wrapp"><img class="img-fluid" src="img/pop-1.png" alt=""></div>
            <p class="pop-caption"><span>NHXH FE180/E30 3x1,5</span></p>
        </div>
        <div class="col-12 col-sm-6 col-md-auto sm-text-left">
            <div class="img-wrapp"><img class="img-fluid" src="img/pop-2.png" alt=""></div>
            <p class="pop-caption"><span class="p-x-25">J-Y(St)Y 1x2x0,8</span></p>
        </div>
        <div class="col-12 col-md-auto">
            <div class="img-wrapp"><img class="img-fluid" src="img/pop.png" alt=""></div>
            <p class="pop-caption"><span>JE-H(ST)H FE180/E30 1х2х0,8</span></p>
        </div>
    </div>
    <div class="row justify-content-center no-gutters wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1.5s">
        <div class="col-12 col-sm-6 col-md-auto sm-text-right">
            <div class="img-wrapp"><img class="img-fluid" src="img/pop-4.png" alt=""></div>
            <p class="pop-caption"><span>UTP CAT-5 4x2x0,5</span></p>
        </div>
        <div class="col-12 col-sm-6 col-md-auto sm-text-left">
            <div class="img-wrapp"><img class="img-fluid" src="img/pop-5.png" alt=""></div>
            <p class="pop-caption"><span class="p-x-25">СПД2-ТІРАС</span></p>
        </div>
        <div class="col-12 col-sm-6 col-md-auto sm-text-right">
            <div class="img-wrapp"><img class="img-fluid" src="img/pop-6.png" alt=""></div>
            <p class="pop-caption"><span class="p-x-25">СПР "ТІРАС"</span></p>
        </div>
        <div class="col-12 col-sm-6 col-md-auto sm-text-left">
            <div class="img-wrapp"><img class="img-fluid" src="img/pop-7.png" alt=""></div>
            <p class="pop-caption"><span>IEK BA47-29M C16/1, 16А</span></p>
        </div>
    </div>
    <div class="row justify-content-center no-gutters wow fadeInUp" data-wow-delay="800ms" data-wow-duration="1.5s">
        <div class="col-12 col-sm-6 col-md-auto sm-text-right">
            <div class="img-wrapp"><img class="img-fluid" src="img/pop-8.png" alt=""></div>
            <p class="pop-caption"><span>DKC Лоток перф. 100х50</span></p>
        </div>
        <div class="col-12 col-sm-6 col-md-auto sm-text-left">
            <div class="img-wrapp"><img class="img-fluid" src="img/pop-9.png" alt=""></div>
            <p class="pop-caption"><span class="p-x-25">Кабель-канал 25х16</span></p>
        </div>
        <div class="col-12 col-md-auto">
            <div class="img-wrapp"><img class="img-fluid" src="img/pop-10.png" alt=""></div>
            <p class="pop-caption"><span class="p-x-25">Гофротруба D16</span></p>
        </div>
    </div>
    <div class="row justify-content-center no-gutters wow flipInX">
        <div class="col-12 col-md-auto">
            <a href="#" class="btn-red sm-center-block"><span class="font-light">смотреть весь ассортимент</span></a>
        </div> 
        <div class="col-12 col-md-auto">
            <button type="button" class="btn btn-red" data-toggle="modal" data-target="#price-form">
                <p class="font-light">просчитать стоимость</p>
                <p class="font-light">материалов</p>
            </button>
        </div>
    </div>
    <div class="modal fade" id="price-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content container">
               <div class="modal-body row">
                <form class="header-form text-center col-12">
                    <p class="display-4">Узнать цены</p>
                    <p class="font-light">Чтобы <span class="font-bold">сократить ваши затраты до 20%</span> напишите
                    свою заявку и контактную информацию для связи</p>
                    <div class="form-group font-light">
                        <textarea class="form-control" name="user-msg" placeholder="Напишите свою заявку здесь..."></textarea>
                        <input class="form-control" type="text" name="user-name" placeholder="Ваше имя">
                        <input class="form-control" type="tel" name="user-tel" placeholder="Ваш телефон">
                        <button class="btn btn-block text-white" type="submit">Узнать цены</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer row no-gutters">
                <div class="col-12 col-sm-auto tel">
                    <p class="font-light">ОТДЕЛ ПРОДАЖ</p>
                    <p>067 - 325 - 31 - 41</p>
                </div>
                <div class="col-12 col-sm-auto">
                    <p class="mail"><a href="mailto:order.energomall@gmail.com">order.energomall@gmail.com</a></p>
                    <p class="link"><a href="http://energomall.com.ua/" target="blank">energomall.com.ua</a></p>
                </div>
            </div>
            <div class="modal-logo text-center"><img class="img-fluid" src="img/logo-2.png" alt=""></div>
        </div>
    </div>
</div>
</section>