<section class="product container-fluid">
    <p class="display-4 font-light text-center wow flipInX" data-wow-delay="300ms">Наши товары</p>
    <p class="font-light text-center wow flipInX" data-wow-delay="400ms">мы обеспечили возможность покупать все для электромонтажа</p>
    <p class="font-light text-center wow flipInX" data-wow-delay="400ms">в одном месте по лучшим ценам</p>
    <div class="row no-gutters wow fadeInUpBig" data-wow-delay="100ms" data-wow-duration="1.5s">
        <div class="col-12 col-sm-6 col-md-5">
            <button data-target="#product-form" data-toggle="modal">
                <div class="product-img"><img class="img-fluid" src="img/cpr_cables.png" alt=""></div>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-7">
            <button class="text-white text-left d-flex btn-m" data-target="#product-form" data-toggle="modal">
                <div>
                    <p>Компания ТОВ «Енерго Молл» входит в топ 3 поставщиков в товарной группе огнестойкий кабель.</p>
                </div>
                <div>
                    <div><h4>FLAME NHXH - FE180/E30 и FE180/E90 </h4><span class="font-light"> (более 50км на складе)</span></div>
                    <div><span class="font-light">Огнестойкий безгалогенный кабель повышенной безопасности </span><h4> (N)HXH FE180/E30 и (N)HXH FE180/E90</h4></div>
                    <div><h4>JE-H(ST)H … Bd FE180/E30 и FE180/E90 </h4><span class="font-light"> (более 40км на складе)</span></div>
                    <div><span class="font-light">Огнестойкий безгалогенный кабель связи повышенной безопасности </span><h4> JE-H(St)H FE180</h4></div>
                    <div><h4>J-Y(St)Y, J-H(ST)H … Bd </h4><span class="font-light"> (более 20км на складе)</span></div> 
                    <p>Кабель для систем охранной и пожарной сигнализации</p>
                </div>
            </button>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 col-sm-6 col-md-4 wow fadeInUpBig" data-wow-delay="150ms" data-wow-duration="1.5s">
            <button data-target="#product-form" data-toggle="modal">
                <div class="product-img"><img class="img-fluid" src="img/prod-2.png" alt=""></div>
                <p class="font-light">Кабель для передачи данных UTP, FTP, RG, СКВВ, ТППэП, ТРП, ПРППМ, 
                LIH(st)H FE180 PH120, LIH(st)H, LIHH FE180 PH120, LIHH.</p>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-4 wow fadeInUpBig" data-wow-delay="150ms" data-wow-duration="1.5s">
            <button data-target="#product-form" data-toggle="modal">
                <div class="product-img"><img class="img-fluid" src="img/prod-3.png" alt=""></div>
                <p class="font-light">Молниезащита и заземление – ограничители перенапряжений, шины 
                    выравнивания потенциалов, молниеприемники, плоские и круглые 
                проводники, заземляющие штыри, держатели и соединители</p>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-4 wow fadeInUpBig" data-wow-delay="150ms" data-wow-duration="1.5s">
            <button data-target="#product-form" data-toggle="modal">
                <div class="product-img"><img class="img-fluid" src="img/prod-4.png" alt=""></div>
                <p class="font-light">Системы сигнализации и оповещения – пожарная и охранная сигнализация, 
                    оповещение, пультовое оборудование, питание, адресные системы, видеонаблюдение, СКУД. 
                Приборы Тiрас, Артон, Веллез, Орион и др. </p>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-4 wow fadeInUpBig" data-wow-delay="150ms" data-wow-duration="1.5s">
            <button data-target="#product-form" data-toggle="modal">
                <div class="product-img"><img class="img-fluid" src="img/prod-5.png" alt=""></div>
                <p class="font-light">Силовой кабеля ВВГ, ВВГнг, ВВГнгд, ВВГз, ВВГзнг, 
                    ВВГзнгд, ВВГэ, ВВГэнг, ВВГэнгд, ВВГ(ПВ-3), 
                    ВВГ(ПВ-3)нг, ВВГ(ПВ-3)нгд, АВВГ, АВВГнг, АВВГнгд, 
                    АВВГз, АВВГзнг, АВВГзнгд, АВВГэ, АВВГэнг, 
                    АВВГэнгд. КВВГ, КВВГнг, КВВГнгд. Провод ПВС, 
                ПВСнг, ПВСнгд, ШВВП, ШВВПнг, ШВВПнгд</p>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-4 wow fadeInUpBig" data-wow-delay="150ms" data-wow-duration="1.5s">
            <button data-target="#product-form" data-toggle="modal">
                <div class="product-img"><img class="img-fluid" src="img/prod-6.png" alt=""></div>
                <p class="font-light">Аппараты защиты и коммутации – модульные, 
                    силовые и дифференциальные 
                    автоматические выключатели, УЗО, контакторы 
                и автоматы защиты двигателей</p>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-4 wow fadeInUpBig" data-wow-delay="150ms" data-wow-duration="1.5s">
            <button data-target="#product-form" data-toggle="modal">
                <div class="product-img"><img class="img-fluid" src="img/prod-7.png" alt=""></div>
                <p class="font-light">Кабеленесущие системы – металлические лотки, 
                    кабель-каналы, металлорукав, трубы для 
                прокладки кабеля, распределительные коробки</p>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-4 wow fadeInUpBig" data-wow-delay="150ms" data-wow-duration="1.5s">
            <button data-target="#product-form" data-toggle="modal">
                <div class="product-img"><img class="img-fluid" src="img/prod-8.png" alt=""></div>
                <p class="font-light">Изделия для монтажа – хомуты, кабельные 
                    наконечники, изолента, 
                    термоусадочная трубка, спиральная 
                    обвязка, силовые разьемы и 
                кабельные вводы</p>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-4 wow fadeInUpBig" data-wow-delay="150ms" data-wow-duration="1.5s">
            <button data-target="#product-form" data-toggle="modal">
                <div class="product-img"><img class="img-fluid" src="img/prod-9.png" alt=""></div>
                <p class="font-light">Установочные изделия и фурнитура. 
                Розетки, выключатели, разъемы, удлинители</p>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-4 center-block wow fadeInUpBig" data-wow-delay="150ms" data-wow-duration="1.5s">
            <button data-target="#product-form" data-toggle="modal">
                <div class="product-img"><img class="img-fluid" src="img/prod-10.png" alt=""></div>
                <p class="font-light">Лампы, светильники, пуско-регулирующая 
                аппаратура и комплектующие</p>
            </button>
        </div>
    </div>
    <p class="text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay="600ms"><img class="img-fluid" src="img/divider.png" alt=""></p>
    <div class="modal fade" id="product-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content container">
             <div class="modal-body row">
                <form class="header-form text-center col-12" action="send.php" method="post">
                    <p class="display-4">Узнать подробнее</p>
                    <p class="font-light">Чтобы уточнить наличие и стоимость напишите свою заявку или просто отправьте нам свои контакты.</p>
                    <p class="font-light">Мы свяжемся с Вами в течении 1 минуты</p>
                    <div class="form-group font-light">
                        <textarea class="form-control" name="mess" placeholder="Напишите свою заявку здесь..."></textarea>
                        <input class="form-control" type="text" name="name" placeholder="Ваше имя">
                        <label class="warning"><input class="form-control" type="tel" name="tel" placeholder="Ваш телефон" required></label>
                        <button class="btn btn-block text-white" type="submit">Узнать цены</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer row no-gutters">
                <div class="col-12 col-sm-auto tel">
                    <p class="font-light">ОТДЕЛ ПРОДАЖ</p>
                    <p>067 - 325 - 31 - 41</p>
                </div>
                <div class="col-12 col-sm-auto">
                    <p class="mail"><a href="mailto:order.energomall@gmail.com">order.energomall@gmail.com</a></p>
                    <p class="link"><a href="http://energomall.com.ua/" target="blank">energomall.com.ua</a></p>
                </div>
            </div>
            <div class="modal-logo text-center"><img class="img-fluid" src="img/logo-2.png" alt=""></div>
        </div>
    </div>
</div>
</section>