<section class="advantage container-fluid" id="section-advantage">
    <ul class="list-unstyled row sm-text-center">
        <li class="col-12 col-md wow fadeInUp" data-wow-delay="200ms" data-wow-duration="2s">
            <div>
                <img class="img-fluid" src="img/adv-1.png" alt="">
                <p>более 100км огнестойкого кабеля на складе в Киеве</p>
            </div>
            <hr class="d-md-none">
        </li>
        <li class="col-12 col-md wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2s">
            <div>
                <img class="img-fluid" src="img/adv-2.png" alt="">
                <p>официальный партнер ведущих производителей</p>
            </div>
            <hr class="d-md-none">
        </li>
        <li class="col-12 col-md wow fadeInUp" data-wow-delay="600ms" data-wow-duration="2s">
            <div>
                <img class="img-fluid" src="img/adv-3.png" alt="">
                <p>цены от производителей</p>
            </div>
            <hr class="d-md-none">
        </li>
        <li class="col-12 col-md wow fadeInUp" data-wow-delay="800ms" data-wow-duration="2s">
            <div>
                <img class="img-fluid" src="img/adv-4.png" alt="">
                <p>гибкая система скидок для постоянных клиентов</p>
            </div>
            <hr class="d-md-none">
        </li>
        <li class="col-12 col-md wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="2s">
            <div>
                <img class="img-fluid" src="img/adv-5.png" alt="">
                <p>бесплатная услуга «Анализ рынка электротоваров»</p>
            </div>
            <button type="button" class="btn" data-toggle="modal" data-target="#service-form">
                <p class="font-light">подробнее у менеджера</p>
            </button>
        </li>
    </ul>
    <p class="text-center wow fadeInUp" data-wow-delay="600ms" data-wow-duration="2s"><img class="img-fluid" src="img/divider.png" alt=""></p>
    <div class="modal fade" id="service-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content container">
                <div class="modal-body row">
                    <form class="header-form text-center col-12">
                        <p class="display-4">Узнать про услугу</p>
                        <p class="font-light">Чтобы узнать подробнее <span class="font-bold">про бесплатную услугу «Мониторинг предложений» </span> 
                            напишите свою контактную информацию и мы <span class="font-bold">свяжемся с вами через 5 минут</span></p>
                            <div class="form-group font-light">
                                <input class="form-control" type="text" name="user-name" placeholder="Ваше имя">
                                <input class="form-control" type="tel" name="user-tel" placeholder="Ваш телефон">
                                <button class="btn btn-block text-white" type="submit">Узнать про услугу</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer row no-gutters">
                        <div class="col-12 col-sm-auto tel">
                            <p class="font-light">ОТДЕЛ ПРОДАЖ</p>
                            <p>067 - 325 - 31 - 41</p>
                        </div>
                        <div class="col-12 col-sm-auto">
                            <p class="mail"><a href="mailto:order.energomall@gmail.com">order.energomall@gmail.com</a></p>
                            <p class="link"><a href="http://energomall.com.ua/" target="blank">energomall.com.ua</a></p>
                        </div>
                    </div>
                    <div class="modal-logo text-center"><img class="img-fluid" src="img/logo-2.png" alt=""></div>
                </div>
            </div>
        </div>
    </section>