<section class="stock">
    <div class="container-fluid">
        <p class="display-4 wow flipInX" data-wow-delay="300ms">Наш склад в Киеве</p>
        <div class="wow flipInX" data-wow-delay="300ms">
            <p class="text-center">Один из самых комплексных складов по огнестойкому кабелю,</p>
            <p class="text-center">пожарной и охранной сигнализацииавтоматике,</p>
            <p class="text-center">кабеленесущим системам, молниезащите</p>
        </div>
        <div class="row stock-gallery justify-content-around no-gutters">
            <div class="col-12 col-sm-6 col-md-4 wow zoomIn" data-wow-delay="200ms" data-wow-duration="1.3s">
                <img class="img-fluid" src="img/stock-1.png" alt="">
            </div>
            <div class="col-12 col-sm-6 col-md-4 wow zoomIn" data-wow-delay="400ms" data-wow-duration="1.5s">
                <img class="img-fluid" src="img/stock-2.png" alt="">
            </div>
            <div class="col-12 col-sm-6 col-md-4 wow zoomIn" data-wow-delay="600ms" data-wow-duration="1.7s">
                <img class="img-fluid" src="img/stock-3.png" alt="">
            </div>
            <div class="col-12 col-sm-6 col-md-4 wow zoomIn" data-wow-delay="800ms" data-wow-duration="1.9s">
                <img class="img-fluid" src="img/stock-4.png" alt="">
            </div>
            <div class="col-12 col-sm-6 col-md-4 wow zoomIn" data-wow-delay="1000ms" data-wow-duration="2s">
                <img class="img-fluid" src="img/stock-5.png" alt="">
            </div>
            <div class="col-12 col-sm-6 col-md-4 wow zoomIn" data-wow-delay="1200ms" data-wow-duration="2.1s">
                <img class="img-fluid" src="img/stock-6.png" alt="">
            </div>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-md-auto text-grey sm-text-center wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1.5s">
                <p>Что бы просчитать стоимость материалов </p>
                <p>для электромонтажа по Вашему объекту </p>
                <p>отправьте нам заявку.</p>
                <p>Мы свяжемся с Вами, в течении 3 минут.</p>
                <p class="text-silver p-t-30"><i>Будем рады сотрудничеству,</i></p>
                <p class="text-silver"><i>ТОВ «Енерго Молл»</i></p>
            </div>
            <div class="col-12 col-md-auto wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1.5s">
                <form class="header-form text-center sm-center-block" action="send.php" method="post">
                    <div class="form-group">
                        <textarea class="form-control" name="mess" placeholder="Напишите свою заявку здесь..."></textarea>
                        <label class="warning"><input class="form-control" type="tel" name="tel" placeholder="Ваш телефон" required></label>
                        <button class="btn btn-block text-white" type="submit">Узнать цены</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>