.partner {
    padding: 58px 0 0;

    @media screen and (min-width: 1240px) {
        max-width: 1140px;
    }

    @media screen and (max-width: 767px) {
        padding: 40px 0 0;
    }

    .display-4 {
        color: rgba(105, 106, 123, 255);
        text-align: center;
        font-family: $font-light !important;
        font-size: 3.75rem;
        @extend .uppercase;
        margin-bottom: 47px;

        @media screen and (max-width: 767px) {
            font-size: 2.6rem;
            margin-bottom: 38px;
        }

        @media screen and (max-width: 390px) {
            font-size: 2.3rem;
        }
    }

    .col-12 {
        @media screen and (max-width: 767px) {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .row {
        margin-bottom: 60px;
        
        @media screen and (max-width: 767px) {
            margin-bottom: 27px;
        }
    }
}