.popular {

    padding-bottom: 15px;

    .modal-body {
        padding: 0;
    }
    
    > .display-4 {
        text-transform: uppercase;
        color: rgba(105, 106, 123, 255);
        font-size: 3.75rem;
        margin-bottom: 40px;
    }

    .img-wrapp {
        &:after {
            content: ''; 
            position: absolute;
            bottom: 25px;
            right: 85px;
            border: 20px solid transparent;	
            border-bottom: 10px solid #696a7b;
        }
    }

    .row {
        &:nth-of-type(n+2):nth-child(-n+4) {
            margin-top: -51px;
        } 
        
        div {
            position: relative;

            &:nth-of-type(even) {
                margin: 0 7px;

                @media screen and (max-width: 915px) {
                    margin: 0;
                }
            }
            .pop-caption {
                position: absolute;
                bottom: 5px;
                text-align: center;
                z-index: 5;

                @media screen and (min-width: 916px) {
                    left: 0;
                    right: 0;
                }

                span {
                    background-color: #696a7b;
                    color: #fff;
                    min-width: 143px;
                    font-size: 0.86rem;
                    padding: 8px 10px 4px 10px;
                }
            }
        }
    }

    .btn-red {
        background-color: #bd5434;
        color: #fff !important;
        text-transform: uppercase;
        border-radius: 0;
        width: 288px;
        height: 60px;
        margin: 75px 0;
        word-wrap: normal;
        font-size: 1.12rem;
        line-height: 1.36rem;

        @media screen and (max-width: 390px) {
            width: 280px;
        }
    }

    a.btn-red {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }

    .header-form {
        max-width: 441px;
        height: 519px;
        padding: 47px 39px 30px 38px;
        margin: 0 auto;
        pointer-events: auto;

        @media screen and (max-width: 390px) {
            padding: 33px 25px 10px 25px !important;
            height: auto !important;
        }

        @media screen and (max-width: 575px) {
            height: 429px;
            max-width: 348px;
            padding: 33px 39px 30px 38px;
        }

        textarea {
            height: 167px;

            &::placeholder {
                @media screen and (max-width: 575px) {
                    font-size: 0.87rem;
                }
            }

            @media screen and (max-width: 575px) {
                margin-top: 10px;
                height: 132px;
                padding: 5px 12px;
            }
        }

        input {
            &::placeholder {
                @media screen and (max-width: 575px) {
                    font-size: 0.87rem;
                }
            }

            @media screen and (max-width: 575px) {
                margin-top: 3px;
                padding: 5px 12px;
            }

        }

        p {
            font-size: 1.11rem;
            margin: 0 10px;

            @media screen and (max-width: 575px) {
                font-size: 1rem;
                line-height: 1.2rem;
            }
        }

        .display-4 {
            font-family: Calibri-Bold;
            font-size: 2.25rem;
            margin-bottom: 20px;
            text-transform: uppercase;

            @media screen and (max-width: 575px) {
                font-size: 1.86rem;
                margin-bottom: 16px;
            }
        }

        .btn-block {
            margin-top: 11px;
            padding: 11px 9px 7px;

            @media screen and (max-width: 575px) {
                font-size: 1rem;
                padding: 12px 9px 11px;
                margin: 11px 0 0 !important;
            }
        }
    }

    .link, .mail {
        
        @media screen and (max-width: 575px) {
            margin-left: 31% !important;
        }
        
        @media screen and (max-width: 390px) {
            margin-left: 25% !important;
        }
        
        a {
            pointer-events: auto;
        }
    }

    .tel {
        @media screen and (max-width: 575px) {
            margin-left: 31% !important;
            display: block;
            flex: 1;
        }

        @media screen and (max-width: 390px) {
            margin-left: 25% !important;
        }
    }

    .modal-footer {
        @media screen and (max-width: 767px) {
            margin-top: 10px!important;
            margin-right: -30px;
            text-align: left;
        }
    }

    .modal-content {
        @media screen and (max-width: 767px) and (min-width: 391px) {
            padding: 0 !important;
        }

        pointer-events: none;
    }

    .modal-logo {
        margin-top: 49px;
        
        @media screen and (max-width: 767px) {
            margin: 26px auto 0;
        }

        @media screen and (max-width: 575px) {
            max-width: 355px;
        }
    }
}

.modal-content {
    background-color: transparent;
    border: none;
}

.modal-footer {
    margin-top: 50px !important;
    margin-right: -50px;
    border: none;
    color: #fff;
    

    > div {
        margin: 0 0 0 4px !important;
    }

    a {
        color: #fff;
    }

    .mail:before {
        top: 45%;
        left: -41px;
    }

    .mail, .link {
        margin-left: 80px;

        a {
            font-size: 1.11rem;
            line-height: 1.97rem;
            font-family: Calibri-Light !important;
        }
    }

    .tel p {
        font-size: 1.5rem;
        line-height: 1.9rem;

        &:nth-of-type(2) {
            font-size: 1.43rem;
        }
    }
}

.mail, .link, .tel {
    position: relative;
}

.link:before {
    content: '';
    position: absolute;
    background: url('../img/link.png');
    width: 28px;
    height: 28px;
    top: 10%;
    left: -40px;
}

.modal-backdrop.show {
    background-color: #393d40;
    opacity: 0.95;
}

@media screen and (min-width: 577px) {
    .modal-content {
        width: 510px;
    }
}

.p-x-25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

@media screen and (max-width: 767px) {
    .popular {

        .row:nth-of-type(n+2) {
            
            &:nth-child(-n+4) {
                @media screen and (max-width: 575px) {
                    margin-top: 0;
                }
            }
        }
        
        .row div .pop-caption {

            @media screen and (max-width: 574px) {
                bottom: 25px;
                right: 0;
                left: 0;
            }
        }

        .img-wrapp:after {
            right: 46%;

            @media screen and (max-width: 574px) {
                bottom: 45px;
            }

            @media screen and (max-width: 500px) {
                right: 45%;
            }

            @media screen and (max-width: 420px) {
                right: 44%;
            }
        }

        > .display-4 {
            font-size: 2.65rem;
            margin-bottom: 20px;

            @media screen and (max-width: 390px) {
                font-size: 2.3rem !important;
            }
        }

        img {
            @media screen and (max-width: 574px) {
                margin-bottom: 20px;
            }
        }

        button {
            margin: 10px 0 58px !important;
            padding-top: 11px;
        }

        a.btn-red {
            margin: 37px 0 0;
            padding-top: 8px;
        }
    }
}

@media screen and (min-width: 575px) and (max-width: 915px) {

    .popular {

        .col-sm-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        > .row:nth-of-type(2) {
            margin-top: -60px !important;
        }
        > .row:nth-of-type(3) {
            margin-top: 0 !important;
        }

        > .row:nth-of-type(1), > .row:nth-of-type(3) {
            .col-12:last-of-type {
                margin-top: -60px;

                .pop-caption {
                    left: 0;
                    right: 0;
                }
            }
        }

        .sm-text-right {
            text-align: right;

            .pop-caption {
                right: 13.5%;
            }

            .img-wrapp:after {
                right: 85px;
            }
        }
        
        .sm-text-left {
            text-align: left;

            .pop-caption {
                left: 13.5%;
            }

            .img-wrapp:after {
                left: 85px;
                right: auto;
            }
        }
    }
}